

#logo {
	display: inline-block;
	width: 100%;
	position: relative;
	background-color: blue;
	height: 110 px;
	

}

.parkListItem {
	text: #f9f413;
	background-color: #68b9c3;
	width: 310px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border: 5px solid black;
	margin: 5px;
	min-height: 630px;
	
}

.parkListItem h4{
	text-align: Center;
}

.parkListItem h5 {
	text-align: Center;
}

.parkListItem img {
	max-width: 300px;
	position: relative;	
	align-left: 5px;
}

.allHeaderText {
	width: 100%;
}

.allHeaderText h1{
	text-align: Center;
}

.headerGap {
	height: 10px;
	width: 100%;
	background-color: black;
}

/* PARK DETAILS CLASSES  */

.parkDetailsImage img{
	width: 100%;
	position: relative;
	display: inline;
	
}

.parkFactsList {
	position: absolute;
	box-sizing: border-box;
	height: 400 px;
	width: 200 px;
	top: 300px;
	left: 90px;
	Background-color: #293db5;
	border-style: ridge;
	border-color: black;
	border-radius: 10px;
}	
.parkFactsList p{
	color: white;
}

.quote {
	position: absolute;
	box-sizing: border-box;
	height: 100 px;
	width: 1200 px;
	top: 950px;
	left: 175px;
	Background-color: White;
	border-style: ridge;
	border-color: Gold;
	border-radius: 10px;
	text-align: center;
}


.weatherDay {
	display: inline-block;
	box-sizing: border-box;
	width: 100px;
	height: 450px;
	text-align: center;
	font-variant: small-caps;
	border-style: solid;
	Border-left: 5px;
	overflow: hidden;
	background-color: white;
}

.weatherDay h5{
	text-decoration: underline;
	}

weatherPicture{
	display: inline-block;
	position: relative;
	width: 20x;
	height: auto;
	align: center;
	overflow: hidden;
	right: 80px;
}

.bigWeatherPicture {
	position: absolute;
	top: 250px;
	right: 100px;
}