

#logo {
	display: inline-block;
	width: 100%;
	position: relative;
	background-color: blue;

}

.parkListItem {
	text: #f9f413;
	background-color: #68b9c3;
	width: 310px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border: 5px solid black;
	margin: 5px;
}

.parkListItem h4{
	text-align: Center;
}

.parkListItem h5 {
	text-align: Center;
}

.parkListItem img {
	max-width: 300px;
	position: relative;	
	align-left: 5px;
}

.allHeaderText {
	width: 100%;
}

.allHeaderText h1{
	text-align: Center;
}

.headerGap {
	height: 10px;
	width: 100%;
	background-color: black;
}

/* PARK DETAILS CLASSES  */

.parkDetailsImage img{
	width: 100%;
	position: relative;
	display: inline;
	
}

.parkFactsList {
	position: absolute;
	box-sizing: border-box;
	height: 400 px;
	width: 200 px;
	top: 300px;
	left: 90px;
	Background-color: #293db5;
	border-style: ridge;
	border-color: black;
	border-radius: 10px;
}	
.parkFactsList p{
	color: white;
}

.quote {
	position: absolute;
	box-sizing: border-box;
	height: 100 px;
	width: 1200 px;
	top: 950px;
	left: 175px;
	Background-color: White;
	border-style: ridge;
	border-color: Gold;
	border-radius: 10px;
	text-align: center;
}

/* footer */ 

#footerBar {
	width: 100%;
	background-color: #515f53;
	height: 100px;
}
#npsLogo {
	width: auto;
    height: 100px;
}
#director {
    float:right;
}
#director img {
	width: auto;
    height: 80px;
    display: inline-block;
    position: relative;
    top: 10px;
}
#director div {
    display: inline-block;
}
